body {
    font-family: 'Zen kaku Gothic New' , sans-serif;
    color: #ffffff;
    background-color: #16161A;
}

header {
    font-weight :700; 
    position: absolute;
    width: 100%;
    z-index: 3;
}

header .container {
    max-width: 1080px; /* 最大幅は1080pxまで */
    width: 90%;        /* 画面幅の90%を使用（可変） */
    margin: 0 auto;    /* 上下：0、左右：自動 → 中央寄せ */
}

header .row {
    display: flex; /*logoとリストを横並びに*/
    justify-content: space-between; /*両端寄せ＆間のスペースを均等に*/
    align-items: center; /*headerの中で上下中央配置になる*/
    height: 60px;
}

header .logo {
    font-size: 24px;
}

header ul {
    display: flex; /*リストを横並び*/
}

header ul li {
    margin-left: 30px; /*左にスペースを*/
    font-size: 14px;
    letter-spacing: 1px; /*文字幅スペース*/
}
.section1 {
    background-image:url(../images/image1.jpg); 
    background-position: center;
    background-size: cover;
    height: 100vh; /*vh -> 縦の画面幅いっぱい*/
    display: flex;/*align-items: center;を反映させるため*/
    align-items: center;/*文字を真ん中に*/ 
}
.section1 .filter {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5; /*透かしを入れる*/
    position: absolute;/*通常のレイアウトから切り離して、自由に配置できるようにする*/
    z-index: 1;
    top: 0; /*親要素の左上に*/
    left: 0; /*ピッタリくっつけて表示。*/
}
.section1 .container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto; /*ブロック要素自体を中央寄せ*/
    text-align: center; /*中の文字やインライン要素を中央寄せ*/
    z-index: 2; /*'この要素を他の要素より手前に表示する'*/
    position: relative; /*z-indexと一緒に使うと↑*/
}
.section1 .heading {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #2cb67d;
}
.section1 h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
.section1 .text {
    font-size: 20px;
    margin-bottom: 40px;
}
.section1 a {
    font-size: 16px;
    font-weight: 700;
    padding: 16px 40px 20px 40px;/*↑、→、↓、← (時計回り)*/
    display: inline-block;
    background-color: #7f5af0;
    border-radius: 6px;
    letter-spacing: 2px;/*文字と文字の間隔*/
    transition-duration: .2s; /*マウスを当てた時に色が変わる速度を設定*/
}
.section1 a:hover{ /*hover -> マウスを当てた時に色が変わる*/
    background-color: #2cb67d;
}
.section2 {
    margin-bottom: 45px;
}
.section2 .container {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}
.section2 .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*横に収まり切れないときは縦に並んでね*/
    transform: translateY(-48px);
    z-index: 2;
    position: relative; /*z-indexはこれがないと効かない！*/
}
.section2 .col {
    background-color: #ffffff;
    width: 32%;
    color: #16161A;
    padding: 20px;
}
.section2 img {
    background-color: #7f5af0;
    width: 60px;
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 16px;
}
.section2 h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}
.section2 hr {
    border: solid 2px #2cb67d; /*線の太さ, 色*/
    margin-bottom: 16px;
    width: 48px;
}
.section2 .text {
    font-size: 15px;
    line-height: 1.5; /*文字の行間*/
}
.section3 {
    padding-top: 45px;
    margin-bottom: 60px;
}
.section3 .container {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}
.section3 .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
}
.section3 .col {
    width: 46%; /*textとimgを100％のうちお互い46％占めて間の余白は8％*/
}
.section3 h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 1.3;
}
.section3 hr {
    border: solid 2px #2cb67d;
    margin-bottom: 20px;
    width: 60px;  
}
.section3 .text {
    line-height: 1.5;
}
.section4 {
    padding-top: 60px;
    margin-bottom: 60px;
}
.section4 .container {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}
.section4 h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center; /*text中央ぞろえ*/
    margin-bottom: 20px;
}
.section4 hr {
    border: solid 2px #2cb67d;
    margin: 0 auto 40px;
    width: 60px;
}
.section4 ul {
    max-width: 700px;
    margin: 0 auto; /*中央に寄せる*/
}
.section4 li {
    border: solid 1px #ffffff; /*白線で囲む*/
    margin-bottom: 20px;
    padding: 16px 24px;
}
.section4 .data {
    color: #7f5af0;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 6px;
}
.section5 {
    padding-top: 60px;
    margin-bottom: 130px;
}
.section5 .container {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}
.section5 h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.section5 hr {
    border: solid 2px #2cb67d;
    margin: 0 auto 40px;
    width: 60px;
}
.section5 form {
    max-width: 540px;
    margin: 0 auto;
}
.section5 label {
    display: block; /*幅100%、上下に並ぶ*/
    margin-bottom: 16px;
    font-weight: 500;
}
.section5 input, .section5 textarea{
    background-color: #ffffff;
    display: block;
    width: 100%;
    padding: 13px 16px;
    margin-bottom: 30px;
    color: #16161A;
}
.section5 input[type=submit]{
    text-align: center;
    background-color: #7f5af0;
    color: #ffffff;
    font-weight: 700;
    padding: 20px 16px 22px;
    letter-spacing: 6px;
    border-radius: 6px;
    transition-duration: .2s;   
}
.section5 input[type=submit]:hover{
    background-color: #2cb67d;
}
footer {
    text-align: center;
    background-color: #ffffff;
    color: #16161A;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 20px 0;
}