html {font-family: "Noto Sans JP", sans-serif;}

.pop {font-family: "Poppins", sans-serif;}
    
.container {
    width: 90;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}
.flex {
    display: flex;
    justify-content: space-between;/*両端に配置*/
    flex-wrap: wrap; /* 折り返して表示 */
    align-items: center;
}
header {
    padding: 27px 0;
}
.logo {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.04em;
}
.logo span {
    color: #80BA4A;
}

.header_menu li {
      margin-left: 40px;
}
.header_menu li a {
    transition: .3s;
}
.header_menu li a:hover {
    color: #80BA4A;
    transition: .3s;
}

/* メイン */
#hero {
    background-image: url(/images/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 540px;
    border-radius: 30px;
    display: flex;
    align-items: center; /*上下中央　*/
    margin-bottom: 90px;
    position: relative;
    overflow: hidden;
}
#hero::before {
    content: '';/*beforeやafterを使うとき必須*/
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    opacity: 0.2;
    top: 0;
    left: 0;
    z-index: 1;
}
.hero_inner {
    z-index: 2;
    color: #ffffff;
    width: 100%;
    text-align: center;
}
.hero_inner p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.hero_inner h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
/* コンセプト */
#concept {
    margin-bottom: 120px;
}
.title {
    font-size: 20px;
    font-weight: 500;
    color: #80BA4A;
    margin-bottom: 40px;
}
#concept h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
}
.column-2 {
    width: 48%;   
}
.text {
    line-height: 1.5;
}
.concept-img {
    background-image: url(/images/concept.jpg);
    background-position: center;
    background-size: cover;
    height: 340px;
    border-radius: 20px;
}
.heading {
    font-family: 'Dancing Script', cursive;
    font-size: 200px;
    font-weight: 700;
    color: #80BA4A;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-30%);/*上下方向（Y軸）に 30% 分だけ上に移動させる*/
    z-index: -1;
}