html {
    height: 100%;
}

body { 
    display: flex;
    flex-wrap: nowrap; /*折り返しなし（1行固定）*/
    justify-content: center; /* 横方向に中央ぞろえ */
    background-color: #F5F5F5; /* 背景色 */
    min-height: 100%; /* 親と同じ高さに固定 */
}

.todo-wrapper {
    justify-content: center;
    margin-top: 3rem;
    min-width: 600px; /* *画面が小さくても最低600pxは維持してね*/
}

.todo-title {
    padding: 2rem;
    text-align: center;
    color: rosybrown;
    font-size: 5rem;
}

.todo-box {
    background-color: white;
    border: 1px solid #ddd;
}

.todo-input-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 3rem;
    border-bottom: 1px solid #ddd;
    justify-content: flex-start;
    align-items: center;
}

